.container-color {
  background-color: #f7f7f7;
  width: 600px;
  height: auto;
  margin-top: 2%;
  margin-left: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.container .row h1 {
  margin-top: 2%;
  margin-left: 29%;
}
